[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openshift = "==0.11.2"
jupyterhub-singleuser-profiles = "==0.6.4"
oauthenticator = {ref = "feature/refresh-fix",git = "https://github.com/maroroman/oauthenticator.git", editable = true}
jupyterhub-traefik-proxy = {ref = "b468da04bf0057e9baeb458de6c3f9f677cfb79e", git = "https://github.com/opendatahub-io/traefik-proxy.git", editable = true}
jupyterhub-idle-culler = "==1.1"

[requires]
python_version = "3.6"
